:root {
  --color-primary: skyblue;
  --color-secondary: lightgray;
  --color-error: tomato;
  --color-primary-dark: dodgerblue;
  --color-secondary-dark: darkgray;
  --color-error-dark: crimson;
  --color-main: gray;
  --color-main-light: whitesmoke;
  --color-sub: white;
}
